name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      approve:
        description: "Approve Terraform Destroy?"
        required: true
        default: "skip"
        type: choice
        options:
          - skip
          - apply

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init -backend-config="bucket=${{ secrets.HWC_OBS_BUCKET_NAME }}"

      - name: Terraform Destroy plan
        run: terraform plan -destroy -out=tfplan

      - name: Terraform Destroy (approved)
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.approve == 'apply'
        run: terraform apply -auto-approve tfplan